@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 344 63% 89%; /* Desaturated Crimson */
    --foreground: 348 72% 10%; /* Dark Scarlet */
    --card: 344 63% 95%;
    --card-foreground: 348 72% 10%;
    --popover: 344 63% 95%;
    --popover-foreground: 348 72% 10%;
    --primary: 348 72% 44%; /* Deep Scarlet */
    --primary-foreground: 0 0% 98%;
    --secondary: 344 63% 80%;
    --secondary-foreground: 348 72% 10%;
    --muted: 344 63% 85%;
    --muted-foreground: 348 72% 25%;
    --accent: 344 64% 58%; /* Rose */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 344 50% 80%;
    --input: 344 50% 85%;
    --ring: 348 72% 44%;
    --chart-1: 348 72% 44%;
    --chart-2: 344 64% 58%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 348 60% 30%;
    --sidebar-foreground: 344 63% 95%;
    --sidebar-primary: 344 63% 89%;
    --sidebar-primary-foreground: 348 72% 10%;
    --sidebar-accent: 348 72% 44%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 348 60% 35%;
    --sidebar-ring: 344 63% 89%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 24 9.8% 10%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 348 72% 54%;
    --primary-foreground: 0 0% 98%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 344 64% 48%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 348 72% 54%;
    --chart-1: 348 72% 54%;
    --chart-2: 344 64% 48%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 24 9.8% 10%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 60 9.1% 97.8%;
    --sidebar-primary-foreground: 24 9.8% 10%;
    --sidebar-accent: 12 6.5% 15.1%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 348 72% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
